.form {
    grid-template-columns: 1fr;
}

table tr {
    grid-template-columns: 1fr 1fr 3fr 1fr;
}

table tr td img {
    width: 7rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.container-fields {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: 3fr 3fr 1fr;
}

.container-fields + .container-fields {
    margin-top: 1.5rem;
}

#form-new-food-order {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.item-form .default-button {
    width: 100%;
}

#label-text-total {
    margin-bottom: 0.8rem;
    font-size: 1.5rem;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    color: #FF441F;
}

#text-total {
    font-size: 1.5rem;
}

#btn-finalize {
    margin-top: 1rem;
    width: 100%;
}